.Navbar >h3 {
    font-size: 28pt;
    margin-left: 10%;
    color: #314556;
}
.Navbar >h3::after{
    content: ".";
    color: red;
}
.Navbar > p {
    margin-left: 10%;
}
li{
    list-style: none;
    padding: 5px 0 5px 60px;
    margin-bottom: 20px;
}
li:active {
    border-left: 5px solid red;
}
.Navcard {
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: 20% 0 0 6%;
    border-radius: 20px;
    background-color:#D1D5DA;
}
.Navcard_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    margin: -2.3rem 0 0 6%;
    background-color: #829BB0;
}

.Navcard_Btn {
    margin: 0 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color:#829BB0;
}