.div{
  display: flex;
}
/* Navbar Start */
.Navbar {
  width: 20%;
  height: 100vh;
}
/* Navbar End */

/* Content Start */
.Content {
  width: 70%;
  background:red;
}
/* Content End */

/* Social Start */
.Social {
  width: 10%;
  background:yellow;
}
/* Social End */