.container{
  display: flex;
}
/* Navbar Start */
.Navbar {
  width: 18.5%;
  border-right: 1px groove #F9FAFF;
}
/* Navbar End */

/* Content Start */
.Content {
  width: 74.5%;
  background:#F9FAFF;
}
/* Content End */

/* Social Start */
.Social {
  width: 7%;
  background:yellow;
}
/* Social End */